<div class="wrap container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-white">
        <ul class="nav nav-pills todo-nav mb-4">
          <li
            role="presentation"
            class="nav-item all-task active"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="/" class="nav-link">All</a>
          </li>
          <li
            role="presentation"
            class="nav-item active-task"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="/active" class="nav-link">Active</a>
          </li>
          <li
            role="presentation"
            class="nav-item completed-task"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLink="/complete" class="nav-link">Completed</a>
          </li>
        </ul>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
